.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.btn-logout {
    position: absolute;
    top: 15px; 
    right: 15px;
    line-height: 1px;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
